#Profile{
    display: inline-block;
    position: relative;
    width: 42%;
    left: 15px;
    margin: 4% 0 0 0;
    line-height: 200%;
    font-size: 1.1em;
}
#knowMore{
    font-weight: bold;
    margin-top: 7%;
    border-radius: 8px;
    font-size: 1.15em;
    height: 50px;
    width: 50% ;
    padding: 0 2% 0 2%;
}

#photoYellow{
    position: absolute;
    top: -20px;
    left: -5%;
    z-index: -1;
    background-color: #fae596;
    width: 95%;
    height: 320px;
}
#photoBlue{
    position: absolute;
    top:40px;
    left: 10%;
    z-index: -1;
    background-color: #83E6E2;
    width: 95%;
    height: 330px;
}
#photo{
    position: relative;
    top:70px;
    right:20px;
    width: 43%;
    height: 350px;
    float: right;
}
#photo img{
    width: 100%;
    height: 100%;

}
#gap{
    display: none;
}
#Certificates{
    margin-top: 10%;
    color: #FAE596;
    background-color: #173E43;
    position: relative;
    left: -5%;
    width: 110%;
}
#certificatesBtn{
    width: 14%;
    font-size: 1.2em;
    border-radius: 10px;
    font-weight: bolder;
    display: block;
    height: 50px;
    margin:5% auto;
    
}
#Skills{
margin-top: 8%;
position: relative;
left: -5%;
background-color: white;
width: 110%;
}
#Skills .firstSkill{
    margin-left: 1%;
}
.sectionHeading{
    display: block;
    padding: 4% 0 0 0;
    text-align: center;
    font-size: 3em;
}
.btnSkill{
    cursor: pointer;
    background: none;
    border:none;
    padding:0;
    font-size: 1.2em;
    box-shadow: none;
    display: block;
    font-weight: bolder;
    margin: auto;
}
#moreSkills{
    margin-top: -0.5%;
    width: 15%;
    height: 55px;
    font-weight: bold;
}
#more_1, #more_2, #more_3, #more_4, #more_5, #more_6, #more_7, #more_8,#more_9,#more_10,#more_11,#more_12{
    display: none;
}
#Skills i{
    display: block;
    margin: 15% 0 0 0;
    text-align: center;
    color: black;
    opacity: .7;
}
.Skill{
    display: inline-block;
    width: 24%;
    margin: 0 0 5% 0;
    vertical-align: top;
}

#moreSkillsContainer{
    display: none;
}
.project, .img{
    background:#83E6E2;
    margin-top: 5%;
    display: inline-block;
    width: 29%;
    border-radius: 10px;
    height: 650px;
}

.project{
    overflow: auto;
}
.project span a{
    color: #173E43;
}
.subsectionHeading{
    padding-top: 10%;
    text-align: center;
}
.sectionHeading.Projects{
    margin-bottom: -1%;
}
.Description{
    display: block;
    padding: 10% 0 0 0;
    text-align: center;
    line-height: 168.7%; 
    font-size: 1.2em;
}

#Projects .Description{
    text-align: left;
    padding: 7% 10% 5% 10%;
    line-height: 185.4%;
}
.Description a{
    text-decoration: none;
}
.img{
    background-color: #3B4D50;
    display: inline-block;
    width: 29%;
}
#project2, #project4{
    margin-left: 10%;
}
#project1, #project3{
    margin-left: 1%;
}
.viewWork{
    display: block;
    margin: auto;
    margin-top: 5%;
    height: 35px;
    border-radius: 5px;
    color: #173E43;
    text-align: center;
    font-size: 1.2em;
    width: 18%;
    height: 50px;
    font-weight: bold;
}

@media screen and (max-width: 1200px) {
#photo{
    height:250px;
    width: 65%;
    display: block;
    float: none;
    margin: auto;
    top:20;
    right: 0;
}
#photoYellow{
display: block;
width: 90%;
left: -20px;
height: 240px;
}
#photoBlue{
    width: 95%;
    display: block;
    height: 220px;
    left:35px;
    top:50px;
}

#Profile{
    width: 80%;
    margin: 5% 0 0 8%;
    text-align: center;
}

#gap{
    display: block;
}
#knowMore{
    width: 75%;
}

.Skill{
    margin-top: 10%;
    width: 99%;   
}
#Certificates{
    margin-top: 25%;
}
#certificatesBtn{
    width: 40%;
}
.sectionHeading.headingSkills{
    padding-top: 10%;
    margin-bottom: -2%;
}
.Description{
    padding: 4% 0 0 0;
    margin-left: 15%;
    margin-right: 15%;
    line-height: 300%;
}

.img{
    display: none;
}
.project{
    overflow: unset;
    width: 90%;
    height: auto;
    box-shadow: 2px 5px 15px;
    margin-top: 10%;
}
#Skills i{
    margin-top: 5%;
}
#Skills{
margin-top: 25%;
}
#moreSkills{
width: 40%;
margin-top: 5%;
}
.firstSkill{
    padding-top: 10%;
}
.sectionHeading.projects{
    width: 100%;
}
.project .Description{
    height: auto;
    margin: auto;
}
#project1, #project2, #project3, #project4{
      margin-left: 5%;
      margin-right: 5%;
}
.Description a{
    position: relative;
    bottom: 15px;
}
.viewWork{
    width: auto;
    margin-top: 10%;
    margin-bottom: 15%;
    padding: 0 4% 0 4%;
}
}

@media screen and (min-width:750px) and (max-width:1200px){
    #photoBlue{
        width: 98%;
    }
    #photo{
        width: 50%;
    }
    #knowMore{
        width: 55%;
    }
    #Skills{
        margin-top: 15%;
    }
    .Skill{
        margin-top: 4%;
    }
}